.before-visible {
  visibility: hidden;
  transform: translateY(-50%);
  transition: opacity 400ms ease-out, transform 200ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
