@import "~src/app/utils.scss";

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.background-color {
  background-color: var(--navigation-background-color);
}

.button {
  @apply py-3;
  @apply px-6;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.navigation {
  @apply hidden;
  @include mq(desktop-up) {
    @apply block;
  }
  &-is-open {
    @apply block;
  }
}

.toggle-button {
  // @apply absolute right-0;
  @apply cursor-pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
