@import "/./src/app/utils.scss";

.layout {
  @include mq(tablet-portrait-up) {
    @apply flex gap-4;
  }
}

.list-layout {
  @apply grid grid-cols-1 gap-4 p-4 bg-gray-50 rounded-sm;
  @apply relative;
  @include mq(tablet-portrait-up) {
    @apply grid-cols-3;
  }
}

.heading {
  @apply mb-6;
}

.image {
  .tile:hover & {
    scale: 1.15;
    transition: scale 1s;
  }
  @apply absolute inset-0 -z-10 h-full w-full object-cover;
}

.tile {
  @apply relative isolate overflow-hidden;
}

.next {
  display: none;
  @include mq(tablet-portrait-up) {
    @apply absolute;
    top: -25px;
    right: -25px;
    display: block;
    z-index: 100;
    @apply cursor-pointer;
  }
}

.pulse {
  @apply flex absolute h-3 w-3 -mt-1 -mr-1;
  top: 10px;
  right: 15px;
}

.carousel-active {
  @apply block;
}
.carousel-hidden {
  @apply hidden;
}

.paragraph-heading {
  @apply text-center;
  @include mq(tablet-portrait-up) {
    @apply text-left;
  }
}

.heading {
  @apply text-center;
  @include mq(tablet-portrait-up) {
    @apply text-left;
  }
}
