@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  @apply bg-slate-700;
  @apply text-white;
  @apply rounded-[0.5rem];

  &:hover {
    background-color: "#fab700";
    @apply text-white;
    filter: brightness(120%);
  }
}
.button {
  @apply py-3;
  @apply px-7;
}

.container {
  max-width: 82rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-heading {
  @apply text-lg leading-8 text-gray-600;
}

.paragraph-default {
  @apply text-base leading-7 text-gray-600;
}
