@import "/./src/app/utils.scss";

.container {
  max-width: 82rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.heading-variant {
  &-default {
    max-width: 44rem;
  }
}

.h1 {
  @apply text-4xl font-bold sm:text-6xl;
}

.heading {
  @apply tracking-tight text-slate-800;
}

.two-column {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
}

.background-color {
  background-color: var(--slice-background-color);
}
